:root {
  --colorNavyBlue: #2e2f42;
  --fonWebsite: #ffffff;
  --logoAndButtonText: #4d5ae5;
  --backgroundButton: #f4f4fd;
  --contactColor: #434455;
}
body {
  display: inline;
  width: 1158px;
  font-family: "Roboto", sans-serif;
  background-color: var(--fonWebsite);
  color: var(--contactColor);
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--logoAndButtonText);
}

.logo-highlight {
  color: var(--colorNavyBlue);
}

.header-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
}
.header-nav-list:hover,
.header-nav-list:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
  color: var(--contaktColor);
}

.header-contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
  font-style: normal;
}
.header-contacts-list:hover,
.header-contacts-list:focus {
  color: #404bbf;
}
.main-content {
  background-color: var(--colorNavyBlue);
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.order-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--logoAndButtonText);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fonWebsite);
  cursor: pointer;
  width: 169px;
  height: 56px;
}
.button-list-text {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundButton);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logoAndButtonText);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.button-list-text:hover,
.button-list-text:focus,
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  color: var(--fonWebsite);
  border: 1px solid transparent;
}

.title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fonWebsite);
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--colorNavyBlue);
}
.section-team {
  background-color: var(--backgroundButton);
}
.section-feature {
  width: 264px;
}
.team-card {
  background-color: var(--fonWebsite);
  height: 380px;
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--colorNavyBlue);
  margin-bottom: 8px;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contactColor);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgroundButton);
  max-width: 264px;
}
.footer {
  background-color: var(--colorNavyBlue);
  padding: 100px 0;
}
.logo-studio {
  color: var(--backgroundButton);
}
.block-link {
  display: inline-block;
  margin-bottom: 16px;
}

Reset h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}
.container-one {
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  width: 1158px;
}
.header-nav {
  display: flex;
}
.container-nav {
  display: flex;
  gap: 40px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  gap: 48px;
}
.container-feature {
  margin-left: 132px;
  margin-right: 132px;
}
.list-feature {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  margin-left: 132px;
  margin-right: 132px;
  gap: 24px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-we-are-doing {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 132px;
  margin-right: 132px;
}
.we-are-doing {
  display: flex;
  flex-direction: row;
  padding-top: 72px;
  gap: 24px;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 132px;
  margin-right: 132px;
}
.team {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 72px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 16px 32px 16px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filters-container {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
  height: 48px;
}
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-cards {
  width: calc((100% - 48px) / 3);
}
.project-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.main-block {
  padding-top: 96px;
  padding-bottom: 120px;
}
